<div class="text-center">
  <%= image_tag @blog_post.cover_image, class: 'h-40 w-full rounded' if @blog_post.cover_image.present? %>
  <h1><%= @blog_post.title %></h1>
  <p class='text-xl'><%= @blog_post.content %></p>
</div>

<div class='fixed top-0 left-100 right-10'>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "rounded-full bg-red-200 px-2 no-underline " %>
  <% end %>
    <%= link_to 'back', root_path, class: "rounded-full bg-red-200 px-2 no-underline" %>
</div>
